@font-face {
  font-family: Acrom-bold; /* Имя шрифта */
  src: url(../fonts/acrom800.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Acrom;
  src: url(../fonts/acrom400.otf);
}
/* обнулення верхнього рядка */
* {
  margin: 0;
}
/* для бокса */
html {
  box-sizing: border-box;
}
/* для всех елементов всех псевдоелементов */
*. *::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

p{
	color: red;
	font-size: 	24px;
}
 /* зміна кольору при наведенні */
 .link:hover {
	color: red;
}

.box{
	background-size: cover;
}

body {
  font-family: Acron; /*Присвоїти всьому тексту стиль Acron*/
}

.wrap {
  width: 1024px;
  margin: 0 auto; /*виравнивание текста в блоке по центру*/
}

header {
  min-height: 450px;
  background: url("../images/drive-download-20180723T204306Z-001/header_bg.png"); /*Фон*/
  background-size: cover;
}
.top-line {
  height: 85px;
  background: rgba(3, 4, 5, 0.5);
  padding: 40px 0px;
}

.phone {
  color: #fff;
  font-size: 23px;
  font-family: Acrom;
  float: right; /*текст вспливає та переміщуєьбся вправо*/
}

.callback {
  font-family: Acrom;
  font-size: 9px;
  color: #fff;
  background: none; /*установить прозрачний фон*/
  border: 2px solid #018dc4; /*встановлення товщини рамки та її кольору*/
  border-radius: 10px; /*встановлення зкруглення рамки*/
  padding: 5px 10px; /*встановлення внутрішніх відступів*/
  float: right;
  margin-top: 35px; /*отступ сверху*/
  margin-left: 20px; /*отступ слева*/
}

.logo {
  margin-top: 20px;
}

h1 {
  font-size: 31px;
  color: #fff;
  font-family: Acrom-bold;
  margin-bottom: 40px;
}

h2 {
  color: #00a9ea;
  font-size: 19px;
  margin-bottom: 50px;
}
.main {
  text-align: center; /*вирівнювання тексту по центру*/
  padding: 90px 0 130px 0; /*сверху справа снизу слева*/
}

.register {
  color: #fff;
  font-size: 10px;
  font-family: Acrom-bold;
  background: #ee6e22;
  border-radius: 10px;
  border: none; /*убрать границу*/
  padding: 10px 5px; /* відступи зверху та знизу  злыва  та зправа*/
  text-transform: uppercase; /*Всі великі букви*/
}

.calback2 {
  float: none;
}

.calback2 img {
  /*к изображениям что находятся  внутри callback*/
  width: 14px;
}

.callback2 span {
  position: relative;
  top: -1px;
}

.divider {
  height: 80px;
  background: #ee6e22;
}
.program {
  padding: 70px 0;
  background: #fff;
}
.right {
  width: 500px;
  float: right;
}
h3 {
  color: #231f20;
  font-size: 43px;
  font-family: Acro-bold;
  margin-bottom: 45px; /*відстань до  тексту, що під ним*/
}

ul li {
  color: #44c1f0;
  font-size: 24px;
  font-family: Acrol-bold;
  margin-bottom: 15px;
}
.comment {
  background: url(../images/drive-download-20180723T204306Z-001/bg_2.png);
  background-size: cover;
  padding: 80px 0 120px 0;
}

.comment img {
  border-radius: 100%;
  background-size: cover;
  position: relative; /*позиціонування відносно свого початкового положення*/
  left: 40px;
  top: 40px;
}
.comment h3 {
  color: #00a9ea;
  font-size: 35px;
  font-family: Acrom-bold;
}

.comment p {
  color: #fff;
  font-size: 19px;
}
.clear {
  clear: both; /*для очистки полей, чтобы текст не вылазил*/
}
footer {
  background: url(../images/drive-download-20180723T204306Z-001/bg_3.png);
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
.col-3 {
  width: 33.333%;
  float: left;
}
.callback3 {
  font-family: Acrom;
  font-size: 9px;
  color: #fff;
  background: none; /*установить прозрачний фон*/
  border: 2px solid #018dc4; /*встановлення товщини рамки та її кольору*/
  border-radius: 6px; /*встановлення зкруглення рамки*/
  padding: 5px 10px; /*встановлення внутрішніх відступів*/
  /*margin-left: 40px;*/
  width: 150px;
}

footer label {
  display: inline-block;
  width: 100px;
}

footer p {
  margin-bottom: 20px;
}
