* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 901px;
  margin: 0 auto;
}

/* NAVIGATION */
.navigation {
  font-size: 0;
}

.menu {
  width: 901px;
  height: 190px;
  padding: 65px 0px 100px 165px;
}

.menu-item {
  display: inline-block;
  text-align: right;
  margin-right: 100px;
}

.menu-link {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #7d7d7d;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #8ecef8;
}

.menu-link-last {
  margin-right: 0;
}

/* MAIN */
.main {
  width: 901px;
  font-family: "Playfair Display", serif;
  margin: 0 auto;
  padding-bottom: 70px;
}

/* ARTICLE  */

.article {
  display: inline-block;
  width: 420px;
  margin-right: 57px;
}
.article:nth-child(2n) {
  margin-right: 0;
}

.article-image {
  margin-bottom: 32px;
}

.article-title {
  font-size: 30px;
  margin-bottom: 35px;
}
.article-subtitle {
  box-sizing: border-box;
  width: 420px;
  margin-bottom: 130px;
}

.article-description {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.main-btn {
  display: block;
  width: 176px;
  height: 46px;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  background-color: transparent;
  font-size: 20px;
  color: rgb(98, 98, 98);
  margin: 0 auto;
}
