* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
  background-color: transparent;
}
.header {
  width: 1110px;
  margin: 0 auto;
  padding-top: 30px;
}

.navigation {
  margin-top: 5px;
  margin-bottom: 100px;
}

.logotype {
  float: left;
  color: #555252;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.logotype::first-letter {
  color: #1abc9c;
}

.menu {
  float: right;
  font-size: 14px;
}

.menu-item {
  float: left;
  margin-top: 10px;
}

.menu-link {
  color: #0f0101;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.menu-link:hover {
  color: #1abc9c;
}

.menu-item:not(:last-child) {
  margin-right: 32px;
}

/* PRODUCT */
.product {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.product__title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  margin-bottom: 130px;
}

.product__title::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 30px;
}

.product__list-item {
  float: left;
  display: block;
  width: calc(1110 - 4 * 255);
  height: calc(322px + 40px);
  background: #aaa;
  margin-bottom: 30px;
}
.product__list-item:nth-child(n + 4) {
  margin-bottom: 0;
}

.product__list-item-btn {
  width: 255px;
  height: 40px;
  background: #323232;
  border: none;
}

.product__list-item-btn:hover {
  background: rgb(26, 188, 156);
}

.product__list-item-text,
.product__list-item-price {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
}

.product__list-item-text {
  float: left;
  padding: 10px 0px 0px 12px;
}

.product__list-item-text:hover {
  background: rgb(26, 188, 156);
}

.product__list-item-price {
  float: right;
  height: 40px;
  background: #8c8c8c;
  padding: 10px 14px 0px 14px;
}
.product__list-item-price:hover {
  background: rgb(127, 217, 199);
}

.product__list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* LATEST */
.latest {
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.latest__title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  margin-bottom: 120px;
}
.latest__title::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 30px auto;
}

.latest__list-item {
  width: 350px;
  float: left;
  font-family: "Open Sans", sans-serif;
}

.latest__list-item:not(:last-child) {
  margin-right: 30px;
}

.latest__list-item-image {
  margin-bottom: 15px;
}

.latest__list-item-title {
  font-weight: 600;

  color: #555252;
  margin-bottom: 30px;
}
.latest__list-item-title::after {
  display: block;
  content: "";
  width: 136px;
  height: 4px;
  background-color: #1abc9c;
  margin-top: 15px;
}

.latest__list-item-text {
  color: #555252;
  font-weight: 400;
  font-size: 400;
  line-height: 26px;
  margin-bottom: 18px;
}

.latest__list-item-btn {
  width: 160px;
  height: 50px;
  background: #4ec6ab;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}
