/* FOOTER */

.footer {
  &__overloc {
    @include flex ();
    width: 1201px;
    height: 64px;
    margin: 0 auto;
    border-top: 1px solid $border-color;
  }

  &__title {
    margin-right: 4px;
    @include font($main-font, 14px, 400, 1.15);
    color: $footer-color;
  }

  &__link {
    @include font($main-font, 14px, 400, 1.15);
    color: $footer-color;

    &:hover {
      color: $footer-hover-color;
      transition: color 200ms linear;
    }
  }
}

.wrapper {
  width: 300px;
  @include flex ($flexWrap: nowrap);
}

.form {
  display: flex;

  &__input {
    height: 40px;
    @include font($secondary-font, 15px, 400, 1.6);
    border: 1px solid $border-color;
    color: $footer-input-color;
    font-style: italic;
    padding-left: 14px;
  }

  &__buttom {
    width: 150px;
    height: 40px;
    @extend %buttom-footer;
    @include font($main-font, 15px, 600, 1.15);
    text-transform: uppercase;
  }
}

/* end footer */
