/*Section SERVICE */
.service {
  width: 1201px;
  margin: 0 auto;
  padding-top: 126px;
  padding-bottom: 96px;

  &__title {
    @include font($suplemented-font, 24px, 400, 1.15);
    color: $services-color;
    text-align: center;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include font($main-font, 30px, 700, 1.15);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 62px;

    &::after {
      @include pseudo();
      width: 60px;
      height: 3px;
      background-color: $services-after-color;
      margin: 0 auto;
      margin-top: 40px;
    }
  }

  &__list {
    @include flex($justifyContent: space-around);
    flex: 0 0 381px;
  }

  &__list-item {
    padding-left: 80px;
    width: 382px;
    background-repeat: no-repeat;
    background-position: 20px 0px;

    &:nth-child(1) {
      background-image: url("../images/servise/img1.png");
    }

    &:nth-child(2) {
      background-image: url("../images/servise/img2.png");
    }

    &:nth-child(3) {
      background-image: url("../images/servise/img3.png");
    }

    &:nth-child(4) {
      background-image: url("../images/servise/img4.png");
    }

    &:nth-child(5) {
      background-image: url("../images/servise/img5.png");
    }

    &:nth-child(6) {
      background-image: url("../images/servise/img6.png");
    }

    &:not(:nth-child(n + 4)) {
      margin-bottom: 96px;
    }
  }

  &__list-title {
    @include font($main-font, 14px, 400, 1.15);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__list-text {
    @include font($secondary-font, 15px, 300, 1.6);
    color: $services-text-color;
  }
}
