$main-color: #fff;
$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto Slab", serif;
$suplemented-font: "Kaushan Script", serif;

$secondary-color: #fce38a;
$services-color:#333333;
$services-text-color:#999999;
$services-after-color: #f38181;
$border-color:#e5e5e5;

$team-border-color:#f5b28e;
$team-bg-color: #fce38a;
$team-hover-color: #f38181;
$team-color:#333333;
$team-text-color:#999999;

$footer-color: #333333;
$footer-hover-color: #f38181;
$footer-input-color:#cccccc;
$bg-footer-color:#95e1d3;

$linear-gradient: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);



// $size: cover;

// $colors:(
//   primery-dark: #212121;
//   secondary-dark: #424242;
//   suplemented-dark: #616161;
//   primary-light: #ffffff;
//   note-accent: #fff8e1;
//   note-border: #f9a825;
//   warn-accent: #ffebee;
//   warn-border: #d3212f;

// );
// .text {
//   color: map-get($colors, primary-light)
// }
