* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* NAVIGATION */

.header {
  width: 1200px;
  margin: 0 auto;
}

.navigation {

  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.logotype {
  color: #95e1d3;
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.menu {
  width: 491px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.menu_link {
  display: block;
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 14px; */
  text-transform: uppercase;
  position: relative;
}

.menu_link::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  bottom: -12px;
  /* transition: all 0.2s linear; */
  opacity: 0;
  visibility: hidden;
}
.menu_link:hover,
.menu_link:focus {
  color: #f38181;
  transition: color 200ms linear;
}
.menu_link:hover::after {
  opacity: 1;
  visibility: visible;
  transition: all 200ms linear;
}

/*Section SERVICE */
.service {
  width: 1201px;
  margin: 0 auto;
  padding-top: 126px;
  padding-bottom: 96px;
}
.service__title,
.team__title {
  font-size: 24px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
}

.service__subtitle,
.team__subtitle {
  font-size: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 62px;
}
.service__subtitle::after,
.team__subtitle::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}

.service__list,
.team__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: space-around;
}
.service__list-item {
  padding-left: 80px;
  width: 382px;
  background-repeat: no-repeat;
  background-position: 20px 0px;
}

.service__list-item:nth-child(1) {
  background-image: url(../img/servise/img1.png);
}

.service__list-item:nth-child(2) {
  background-image: url(../img/servise/img2.png);
}

.service__list-item:nth-child(3) {
  background-image: url(../img/servise/img3.png);
}

.service__list-item:nth-child(4) {
  background-image: url(../img/servise/img4.png);
}

.service__list-item:nth-child(5) {
  background-image: url(../img/servise/img5.png);
}
.service__list-item:nth-child(6) {
  background-image: url(../img/servise/img6.png);
}

.service__list-item:not(:nth-child(n + 3)) {
  margin-bottom: 100px;
}

.service__list-title,
.team__list-title {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.service__list-text,
.team__list-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 20px;
  color: #999999;
}
/* Section TEAM */
.team {
  width: 1201px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 80px;
}
.team__text {
  font-size: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 94px;
}
.team__list-title,
.team__list-text {
  text-align: center;
}
.team__list-title {
  color: #333333;
}
.team__list-text {
  font-weight: 300;
  color: #999999;
}
.team__img {
  margin-bottom: 30px;
}
.team__subtitle {
  margin-bottom: 46px;
}
.team__list-item {
  position: relative;
}

/* Section team hover*/

.team__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translate(-10px, -10px);
  transition: all 200ms linear;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 470px;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.6) 0%,
    rgba(243, 129, 129, 0.6) 100%
  );
  /* background-color: rgba(85, 85, 85, 0.5); */
  /* border: 10px solid #95e1d3; */
  /* background-clip: padding-box; */
  box-shadow: 10px 10px #95e1d3;
  opacity: 0;
  visibility: hidden;
}

.overlay-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.overlay-list__item {
  display: flex;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: none;
}

.overlay-list__link {
  border: 1px solid #f5b28e;
  width: 100%;
  height: 100%;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-list__link:hover {
  background-color: rgb(127, 217, 199);
  border: none;
  transition: background-color 200ms linear;
}

.overlay-list__item:first-child .overlay-list__link {
  background-image: url("../img/social/facebook.png");
}

.overlay-list__item:nth-child(2) .overlay-list__link {
  background-image: url("../img/social/twitter.png");
}

.overlay-list__item:nth-child(3) .overlay-list__link {
  background-image: url("../img/social/pinterets.png");
}

.overlay-list__item:last-child .overlay-list__link {
  background-image: url("../img/social/instagram.png");
}

/* FOOTER */
.footer__overloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1201px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #e5e5e5;
}

.wrapper {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
}

.footer__title,
.footer__link {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
}
.footer__title {
  margin-right: 4px;
}
.footer__link:hover {
  color: #f38181;
  transition: color 200ms linear;
}

.form {
  display: flex;
}
.form__input {
  height: 40px;
  border: 1px solid #e5e5e5;
}

.form__buttom {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #95e1d3;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

/* end footer */
