/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin/montserrat-v14-latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin/montserrat-v14-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v10-latin/roboto-slab-v10-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v10-latin/roboto-slab-v10-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-regular - latin */
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"),
    url("../fonts/pt-serif-v11-latin/pt-serif-v11-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-serif-v11-latin/pt-serif-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* pt-serif-italic - latin */
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"),
    url("../fonts/pt-serif-v11-latin/pt-serif-v11-latin-italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/pt-serif-v11-latin/pt-serif-v11-latin-italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "WisdomScriptAJ";
  src: url("../fonts/WisdomScriptAJ/WisdomScriptAJ.eot");
  src: local("WisdomScriptAJ"),
    url("../fonts/WisdomScriptAJ/WisdomScriptAJ.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* NAVIGATION */

.header {
  width: 1400px;
  margin: 0 auto;
}

.navigation {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header__list {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.header__list-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}

.header__list-link:hover,
.header__list-link:focus {
  color: #fed136;
  transition: color 200ms linear;
}

/* Main */
.main {
  width: 1400px;
  margin: 0 auto;
}

/* SERVICES */
.services {
  width: 940px;
  margin: 0 auto;
  padding: 126px 0;
}
.sections-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.sections-subtitle {
  font-family: "PT Serif", sans-serif;
  color: #777777;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 76px;
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__list-item {
  width: 280px;
}

.services__list-item::before {
  display: block;
  content: "";
  width: 86px;
  height: 86px;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url("../img/services/img1.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.services__list-item:nth-child(2)::before {
  background-image: url("../img/services/img2.png");
}

.services__list-item:last-child::before {
  background-image: url("../img/services/img3.png");
}

.services__list-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
}

.services__list-text {
  font-family: "Roboto Slab", serif;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.025em;
  text-align: center;
}
/* End services */

/* FOOTER */
.footer {
  width: 1400px;
  margin: 0 auto;
  padding: 110px 0;
  background-color: #000;
  background-image: url(../img/contact/map.png);
  background-repeat: no-repeat;
  background-position: 800px 0;
}

.footer-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.footer-subtitle {
  font-family: "PT Serif", sans-serif;
  color: #777777;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-bottom: 76px;
}

/* Form */
.footer__form {
  width: 940px;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  color: #555555;
}

.footer__form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.footer__form-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__form-input {
  width: 455px;
  height: 52px;
  border: 1px solid rgb(85, 85, 85);
  padding-left: 16px;
}

.footer__form-input:focus {
  outline: 1px solid transparent;
  outline-offset: -1px;
}

.footer__form-input:required:focus:valid {
  outline: 1px solid green;
}

.footer__form-input:required:focus:invalid {
  outline: 1px solid red;
}

.footer__form-input::placeholder,
.footer__form-textarea::placeholder {
  text-transform: uppercase;
}

.footer__form-textarea {
  width: 455px;
  height: 212px;
  border: 1px solid #cfcfcf;
  border: none;
  resize: none;
  padding-top: 20px;
  padding-left: 20px;
}

.footer__form-btn-wrapper {
  width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__form-btn {
  width: 240px;
  height: 66px;
  border-radius: 3px;
  border: none;
  background-color:#fed136;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  color:#fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s linear;
}

.footer__form-btn:hover {
  border: none;
}
